@import "../base/variables.scss";

#auth {
  margin-top: $padding;
  transform-origin: top;
  align-self: center;
  animation: $animationCubic comeFromLeft;
  z-index: 1;
  outline: var(--outline);
  outline-offset: $outlineOffset;
  background: var(--container);
}

#auth > a {
  position: absolute;
  top: calc($paddingLarge / 1.25);
  right: calc($paddingLarge / 1.25);
}

#auth > img {
  position: absolute;
  top: -(calc($paddingLarge / 1.5));
  left: 50%;
  transform: translateX(-50%);
}
