@import "../base/variables.scss";

#main.followers {
  display: flex;
  flex-direction: column;
  border-radius: $round;
}

.followers > div {
  display: flex;
  width: 100%;
  gap: $gap;
}

.followers > div > button {
  display: flex;
  justify-content: center;
  flex: 1;
}

.followers > header > form {
  display: flex;
  flex-direction: row;
  padding: $padding;
  gap: $gap;
  background: var(--container);
}

.followers > header > form > button {
  width: fit-content;
}

.followers > main {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: $gap;
}
