@import "../base/variables.scss";

#home {
  display: flex;
  justify-content: center;
  width: 100%;
  min-height: 100%;
  height: 100rem;
  gap: $gap;
  transition: margin $animationCubic;
  margin-top: calc($height + $padding);
}

#home > main {
  width: 100%;
  max-width: $widthContainerMain;
  height: 100%;
  transform-origin: top;
  transition: margin $animationCubic;
  animation: $animationCubic emerge;
  border-radius: $round;
  backdrop-filter: blur(1rem);
  -webkit-backdrop-filter: blur(1rem);
  background: var(--primaryContainer);
  box-shadow: var(--shadow);
  background-blend-mode: multiply, screen;
}

@media screen and (min-width: $widthContainer) {
  #home {
    margin-top: 0;
  }

  #home > main {
    margin-left: calc(($height + $padding * 2) + $padding);
  }
}

@media screen and (min-width: $widthContainerMedium) {
  #home > main {
    margin-right: calc(($height + $padding * 2) + $padding);
  }
}

@media screen and (min-width: calc($widthContainerLarge)) {
  #home > main {
    margin-left: $widthContainerSmall + $padding;
  }
}

@media screen and (min-width: calc($widthContainerExtraLarge)) {
  #home > main {
    margin-right: $widthContainerSmall + $padding;
  }
}
