@import "../base/variables.scss";

#main {
  display: flex;
  flex-direction: column;
  gap: $gap;
  margin-top: $height + $padding;
  width: 100%;
  max-width: $widthContainerMain;
  min-height: 100%;
  transform-origin: center;
  animation: $animationCubic emerge;
  transition: margin $animationCubic;
  z-index: 2;
}

@media screen and (min-width: $widthContainer) {
  #main {
    margin-top: 0;
  }

  #main {
    margin-left: calc(($height) + ($padding * 3));
  }
}

@media screen and (min-width: $widthContainerMedium) {
  #main {
    margin-right: calc(($height) + ($padding * 3));
  }
}

@media screen and (min-width: calc($widthContainerLarge)) {
  #main {
    margin-left: $widthContainerSmall + $padding;
  }
}

@media screen and (min-width: calc($widthContainerExtraLarge)) {
  #main {
    margin-right: $widthContainerSmall + $padding;
  }
}

@media screen and (min-width: calc($widthContainerExtraLargeTwo)) {
}
