@import "../base/variables.scss";

$animationCubic: 0.75s cubic-bezier(0.175, 0.885, 0.32, 1);
$animationEase: 0.5s ease;

@keyframes emerge {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

@keyframes demerge {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0);
  }
}

@keyframes comeFromLeft {
  0% {
    transform: translateX(-200%) scale(0);
  }
  100% {
    transform: translateX(0%) scale(1);
  }
}

@keyframes comeFromRight {
  0% {
    transform: translateX(200%) scale(0);
  }
  100% {
    transform: translateX(0%) scale(1);
  }
}

@keyframes comeFromTop {
  0% {
    transform: translateY(-200%);
  }
  100% {
    transform: translateY(0%);
  }
}

@keyframes comeFromTopScale {
  0% {
    transform: translatey(-200%) scale(0);
  }
  100% {
    transform: translatey(0%) scale(1);
  }
}

@keyframes comeFromBottom {
  0% {
    transform: translatey(200%) scale(0);
  }
  100% {
    transform: translatey(0%) scale(1);
  }
}

@keyframes comeFromTop50 {
  0% {
    transform: translate(50%, -200%) scale(0);
  }
  100% {
    transform: translate(50%, 0%) scale(1);
  }
}

@keyframes spinner {
  from {
    transform: scale(1) rotate(0deg);
  }
  50% {
    transform: scale(0.5) rotate(180deg);
  }
  to {
    transform: scale(1) rotate(360deg);
  }
}
