$dark: rgb(35, 35, 42);

[data-theme="dark"] {
  --color: white;
  --primary: #525aec;
  --primaryShadow: rgba(82, 90, 236, 0.6);
  --colorDanger: rgb(255, 85, 85);
  --outlineColor: rgb(50, 50, 58);
  --outline: 0.125rem solid rgb(50, 50, 58);
  --outlinePrimary: 0.125rem solid var(--primary);
  --gradient: linear-gradient(
      -125deg,
      rgba(77, 110, 255, 0.75) 3%,
      rgba(0, 0, 0, 0.1) 100%
    ),
    radial-gradient(
      100% 120%,
      rgba(64, 239, 255, 0.85) 0%,
      rgba(0, 0, 0, 0.35) 98%
    );
  --blend: normal, multiply, lighten;
  --background: black;
  --shadow: 0.1rem 0.2rem 0.75rem rgba(0, 0, 0, 0.2);
  --container: rgb(18, 18, 24);
}

[data-theme="light"] {
  --color: black;
  --primary: #5962ff;
  --primaryShadow: rgba(89, 98, 255, 0.6);
  --colorDanger: rgb(234, 82, 82);
  --outline: 0.125rem solid rgb(225, 225, 230);
  --outlinePrimary: 0.125rem solid var(--primary);
  --gradient: linear-gradient(
      -125deg,
      rgba(77, 255, 255, 0.75) 3%,
      rgba(0, 0, 0, 0.1) 100%
    ),
    radial-gradient(
      100% 120%,
      rgba(175, 64, 255, 0.85) 0%,
      rgba(0, 0, 0, 0.35) 98%
    );
  --blend: normal, multiply, lighten;
  --outlineColor: rgb(225, 225, 230);
  --background: white;
  --shadow: 0.2rem 0.2rem 1rem rgba(0, 0, 0, 0.1);
  --container: rgb(245, 245, 250);
}
