$dark: rgb(35, 35, 42);

[data-theme="dark"] {
  --color: white;
  --primary: #525aec;
  --colorDanger: rgb(255, 57, 57);
  --outlineColor: rgb(75, 75, 88);
  --outline: 0.1rem solid rgb(75, 75, 88);
  --background: rgb(30, 30, 35);
  --shadow: 0.1rem 0.2rem 0.75rem rgba(0, 0, 0, 0.2);
  --container: rgb(35, 35, 41);
}

[data-theme="light"] {
  --color: black;
  --primary: #5962ff;
  --colorDanger: rgb(220, 53, 53);
  --outline: 0.1rem solid rgb(55, 55, 63);
  --outlineColor: rgb(55, 55, 63);
  --background: rgb(245, 245, 250);
  --shadow: 0.2rem 0.2rem 1rem rgba(0, 0, 0, 0.1);
  --container: rgb(255, 255, 255);
}
