$round: 1rem;

$padding: 1rem;
$paddingLarge: 2rem;
$gap: $padding;
$gapLarge: $paddingLarge;

$width: 2.5rem;
$widthContainer: 25rem;
$height: 2.5rem;

$outline: var(--outline);
$outlineFocus: 0 0 0 0.25rem #424ae27a;
