$round: 0.75rem;
$roundExtra: 5rem;

$outlineOffset: -0.125rem;

$fontSmall: 0.75rem;
$font: 15px;
$fontLarge: 1.5rem;

$fontAdjust: 0.2rem;

$paddingSmall: 0.5rem;
$padding: 1.25rem;
$paddingLarge: 2rem;
$paddingExtraLarge: 3rem;

$gapSmall: 0.5rem;
$gap: $padding;
$gapLarge: $paddingLarge;

$width: 2.5rem;

$widthContainerSmall: 18.5rem;
$widthContainerMain: 35rem;
$widthContainerForm: 25rem;
$widthContainer: 32.5rem;
$widthContainerMedium: 39rem;
$widthContainerLarge: 52.5rem;
$widthContainerExtraLarge: 56rem;
$widthContainerExtraLargeTwo: 74.5rem;

$height: 2.5rem;

$opacity: 75%;

$outline: var(--outline);
$outlineFocus: 0 0 0 0.25rem var(--primaryShadow);
