$round: 1.5rem;
$roundExtra: 5rem;

$fontSmall: 0.75rem;
$font: 15px;
$fontLarge: 1.5rem;

$fontAdjust: 0.3rem;

$paddingSmall: 0.5rem;
$padding: 1rem;
$paddingLarge: 2rem;
$paddingExtraLarge: 3rem;

$gapSmall: 0.5rem;
$gap: $padding;
$gapLarge: $paddingLarge;

$width: 2.5rem;

$widthContainerSmall: 15rem;
$widthContainerMain: 32.5rem;
$widthContainerForm: 25rem;
$widthContainer: 30rem;
$widthContainerMedium: 35rem;
$widthContainerLarge: 47.5rem;
$widthContainerExtraLarge: 52.5rem;
$widthContainerExtraLargeTwo: 66.5rem;

$height: 2.5rem;

$opacity: 75%;

$outline: var(--outline);
$outlineFocus: 0 0 0 0.25rem #424ae27a;
