@import "../base/variables.scss";
@import "../base/themes.scss";

button {
  display: flex;
  justify-content: start;
  align-items: center;
  min-width: $width;
  width: 100%;
  height: $height;
  max-height: $height;
  gap: $gapSmall;
  cursor: pointer;
  border-radius: $round;
  color: inherit;
  white-space: nowrap;
  background: var(--primary);
  z-index: 1;
}

button.fixed {
  position: fixed;
  display: flex;
  width: fit-content;
  right: $padding;
  bottom: $padding;
  animation: $animationCubic emerge;
  z-index: 2;
}

@media screen and (min-width: $widthContainer) {
  button.fixed {
    display: none !important;
  }
}

button.clear {
  outline: $outline;
  max-width: fit-content;
  border-radius: $roundExtra;
  color: inherit;
  background: transparent;
}

button[type="submit"] {
  justify-content: center;
  width: 100%;
}

button.primary {
  color: white;
  background: var(--primary);
}

button.transparent {
  color: var(--color);
  background: transparent;
}

button > p {
  display: none;
  padding-top: calc($fontAdjust / 2);
}

button > div {
  padding-top: $fontAdjust;
}

button.small {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  overflow: visible;
  height: $height - $padding;
  background: transparent;
}

button.small > p {
  padding-right: calc($fontAdjust / 2);
  display: flex;
}

button.small > svg {
  padding: 0;
  overflow: visible;
  min-width: calc($padding * 1.35);
  min-height: calc($padding * 1.35);
}

button.like > svg {
  color: var(--primary);
}

button.danger > svg {
  color: var(--colorDanger);
}

@media screen and (min-width: $widthContainerLarge) {
  button > p {
    display: flex;
  }
}
