@import "../base/variables.scss";
@import "../base/themes.scss";

button {
  display: flex;
  justify-content: start;
  align-items: center;
  min-width: $width;
  width: 100%;
  height: $height;
  max-height: $height;
  gap: $gapSmall;
  cursor: pointer;
  border-radius: $round;
  color: inherit;
  white-space: nowrap;
  background: var(--primary);
  z-index: 1;
}

button.fixed {
  position: fixed;
  display: flex;
  width: fit-content;
  right: $padding;
  bottom: $padding;
  animation: $animationCubic emerge;
  z-index: 2;
}

div.fixed {
  position: absolute;
  display: flex;
  justify-content: end;
  width: 100%;
  max-width: $widthContainerExtraLargeTwo;
  left: 50%;
  transform: translateX(-50%);
  bottom: $padding;
  padding-left: $padding;
  padding-right: $padding;
  z-index: 2;
  pointer-events: none;
}

div.fixed > button {
  animation: $animationCubic emerge;
  width: fit-content;
  gap: 0;
  pointer-events: all;
}

div.fixed > button > div {
  display: none;
  padding-right: $padding;
  width: fit-content;
}

@media screen and (min-width: $widthContainer) {
  button.fixed {
    display: none !important;
  }

  div.fixed > button > div {
    display: flex;
  }
}

button.clear {
  outline: $outline;
  max-width: fit-content;
  border-radius: $roundExtra;
  color: inherit;
  background: transparent;
}

button[type="submit"] {
  justify-content: center;
  width: 100%;
}

button.primary {
  color: white;
  backdrop-filter: blur(1rem);
  -webkit-backdrop-filter: blur(1rem);
  background-blend-mode: var(--blend);
  background: var(--primary);
}

button.outline {
  display: flex;
  justify-content: center;
  background: transparent;
  padding: $paddingSmall;
  height: $height;
  max-height: $height;
  outline: $outline;
}

button.more {
  display: flex;
  justify-content: center;
  background: transparent;
  padding: $paddingSmall;
  height: $height;
  max-height: $height;
  border: $outline;
}

button.padding {
  width: fit-content;
  padding: $padding;
}

button.container {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--container);
}

button.background {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--background);
}

button.transparent {
  color: var(--color);
  background: transparent;
}

button > p {
  display: none;
  padding-top: calc($fontAdjust / 2);
}

button > div {
  padding-top: $fontAdjust;
}

button.small {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: calc($padding * 2.35);
  max-width: calc($padding * 2.35);
  overflow: visible;
  min-height: calc($height - $paddingSmall);
  max-height: calc($height - $paddingSmall);
  background: transparent;
}

button.small > p {
  padding-right: calc($fontAdjust / 2);
  display: flex;
}

button.small > svg {
  padding: 0;
  overflow: visible;
  min-width: calc($padding * 1.35);
  min-height: calc($padding * 1.35);
}

button.like > svg {
  color: var(--primary);
}

button.danger > svg {
  color: var(--colorDanger);
}

@media screen and (min-width: $widthContainerLarge) {
  button > p {
    display: flex;
  }
}
