@import "../base/variables.scss";

.comment {
  position: relative;
  display: flex;
  flex-direction: column;
  transform-origin: top;
  padding-left: $height + $paddingSmall;
}

.comment .comment {
  margin-top: $padding;
  border-bottom: 0;
}

.comment > a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100% - $height - ($paddingSmall * 2));
}

.comment > header {
  position: absolute;
  display: flex;
  align-items: center;
  left: 0;
}

.comment > header > div {
  display: flex;
  flex-direction: column;
}

.comment > header > a {
  position: relative;
}

.comment > header > a > div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.comment > header > div:last-of-type {
  overflow: hidden;
  padding-left: calc($fontAdjust * 3);
}

.comment > header > div > p {
  opacity: $opacity;
}

.comment > header > a > img {
  width: $width;
  height: $height;
  object-fit: cover;
}

.comment > main {
  display: flex;
  flex-direction: column;
  margin-top: $height + calc($padding / 2);
  padding-left: $fontAdjust;
}

.comment > main > div {
  display: flex;
  flex-direction: column;
  height: fit-content;
  overflow: hidden;
  padding-right: $padding;
}

.comment > main > div > div {
  line-height: 145%;
}

.comment > footer {
  display: flex;
  flex-wrap: wrap;
  padding: calc($padding * 1.25);
  padding-left: $fontAdjust;
  padding-bottom: 0;
  margin-left: 0 - calc($fontAdjust / 2);
  gap: $gap;
}

.comment .loadingSpinner {
  margin-top: $paddingSmall;
}

.comment > footer > .reply button {
  margin: 0;
  flex: 1;
  display: flex;
  justify-content: start;
}

.comment > footer > .reply svg {
  padding: calc($fontAdjust / 1.5);
}

.comment > form {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: $gap;
  margin-top: $padding;
}

.comment > form textarea {
  margin-top: 0;
  padding: calc($padding * 1.25);
  background: var(--background);
}

.comment > form > button {
  width: fit-content;
  padding: $padding;
}

.comment > form > button .loadingSpinner {
  margin: 0;
}

.comment > form > button div {
  margin: 0 !important;
}

.comment > .bar {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;
  min-width: $width;
  max-width: $width;
  padding-top: $paddingLarge;
  height: calc(100%);
}

.comment > .bar > div {
  width: 0.1rem;
  height: 100%;
  border-radius: $round;
  background: var(--outlineColor);
}

.comment > .bar > button {
  position: absolute;
  display: flex;
  bottom: calc($paddingSmall / 2);
  min-width: calc($width - ($padding / 1.25));
  min-height: calc($height - ($padding / 1.25));
  max-width: calc($width - $padding);
  max-height: calc($height - $padding);
  justify-content: center;
  align-items: center;
  outline: $outline;
  background: var(--background);
}

.comment > .bar > button.previous {
  top: calc($height + $paddingSmall * 1.25);
}

.comment > .bar > button > div {
  padding-top: 0.05rem;
}

.comment > .bar > button > div {
  display: flex;
  justify-content: center;
  align-items: center;
}
