@import "../base/variables.scss";

.error {
  font-size: $fontSmall;
  padding-left: $paddingSmall + $fontAdjust;
  color: var(--colorDanger);
}

#main .error {
  padding-left: $padding;
  padding-right: $padding;
}
