@import "../base/variables.scss";
@import "../base/themes.scss";
@import "../base/animation.scss";

label {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: $gapSmall;
  cursor: text;
}

label.textArea {
  height: 100%;
}

label svg {
  color: var(--color);
}

#main label svg {
  padding: $paddingSmall;
}

label > p {
  padding-left: $paddingSmall;
  font-size: $fontSmall;
}

label > button {
  position: absolute;
  width: fit-content;
  top: calc($paddingLarge / 1.6);
  right: 0;
  background: transparent;
  box-shadow: none;
}

input {
  display: flex;
  width: 100%;
  height: $height;
  padding: $padding;
  padding-top: $padding + 0.15rem;
  border-radius: $round;
  color: var(--color);
  outline: var(--outline);
  transition: background-color 1000000000s, color 100000000s;
  background: transparent;
}

textarea {
  margin-top: 0.2rem;
  padding: calc($paddingLarge / 1.35);
  min-height: 100%;
  border-radius: $round;
  color: inherit;
  background: transparent;
}

label.file {
  position: relative;
  width: fit-content;
  align-items: center;
  align-self: center;
  cursor: pointer;
  z-index: 1;
}

label.file > p {
  display: none;
}

label.file:focus-within > img,
label.file:focus-within > svg {
  outline: $outline;
  box-shadow: $outlineFocus;
}

label > img,
label > svg {
  width: $width + $paddingExtraLarge;
  height: $height + $paddingExtraLarge;
  border-radius: $round;
  border-radius: $roundExtra;
  outline: $outline;
}

label.file > img,
label.file > svg {
  width: $width;
  height: $height;
}

#auth label.file > img,
#auth label.file > svg {
  width: $width + $paddingLarge;
  height: $height + $paddingLarge;
}

input[type="file"] {
  position: absolute;
  height: 0;
  width: 0;
  opacity: 0;
}
