@import "../base/variables.scss";
@import "../base/themes.scss";
@import "../base/animation.scss";

label {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: $gapSmall;
  cursor: text;
  padding-top: $paddingSmall;
}

label > p {
  font-size: $fontSmall;
}

label > button {
  position: absolute;
  width: fit-content;
  top: calc($paddingLarge / 1.075);
  right: 0;
  background: transparent;
  box-shadow: none;
}

label.right > input {
  padding-right: $width + $padding;
}

input {
  width: 100%;
  height: $height;
  padding: $padding;
  border-radius: $round;
  outline: $outline;
  transition: background-color 1000000000s, color 100000000s;
  background: transparent;
}

label.file {
  width: fit-content;
  align-items: center;
  align-self: center;
  cursor: pointer;
}

label.file:focus-within > img,
label.file:focus-within > svg {
  outline: $outline;
  box-shadow: $outlineFocus;
}

label > img,
label > svg {
  width: $width + $paddingLarge;
  height: $height + $paddingLarge;
  border-radius: $round;
  border-radius: $roundExtra;
  outline: $outline;
}

input[type="file"] {
  position: absolute;
  height: 0;
  width: 0;
  opacity: 0;
}
