@import "../base/variables.scss";
@import "../base/themes.scss";
@import "../base/animation.scss";

label {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: $gap;
  cursor: text;
}

label > button {
  position: absolute;
  width: fit-content;
  bottom: 0;
  right: 0;
  background: transparent;
  box-shadow: none;
}

label.right > input {
  padding-right: $width + $padding;
}

input {
  width: 100%;
  height: $height;
  padding: $padding;
  border-radius: $round;
  outline: $outline;
  transition: background-color 1000000000s, color 100000000s;
  background: transparent;
}
