@import "../base/variables.scss";
@import "../base/themes.scss";
@import "../base/animation.scss";

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  justify-self: center;
  flex: 1;
  width: 100%;
  height: 100%;
  border-radius: $round;
  background: var(--container);
}

.comment .loading {
  margin-top: $padding;
  margin-bottom: $padding;
}

.loadingSpinner {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  width: $width;
  height: $height;
  padding: 0;
}

.loadingSpinner > svg {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: $width - $padding;
  min-height: $height - $padding;
  overflow: visible;
  animation: 1s infinite linear rotate;
}

.loadingSpinner > svg > circle {
  fill: transparent;
  stroke: var(--primary);
  stroke-dasharray: 150 100;
  stroke-linecap: round;
  stroke-width: 15;
  animation: 1s infinite ease-in-out spinner;
}

.loadingSpinner.primary > svg > circle {
  stroke: white;
}
