@import "../base/variables.scss";

nav {
  position: fixed;
  top: $padding;
  left: $padding;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  gap: $gap;
  width: calc(100% - ($padding * 2));
  z-index: 3;
  height: 0;
}

nav > header {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 100%;
  gap: $gap;
  min-height: calc($height + ($paddingSmall * 2));
  padding: $paddingSmall;
  border-radius: $round;
  backdrop-filter: blur(1rem);
  transition: transform $animationCubic;
  -webkit-backdrop-filter: blur(1rem);
  animation: $animationCubic comeFromTop;
  background: var(--primaryContainer);
  box-shadow: var(--shadow);
  background-blend-mode: multiply, screen;
  z-index: 1;
}

nav > header > h4 {
  display: none;
}

nav > header > img {
  width: calc($width);
  height: calc($height);
  padding: $paddingSmall;
}

nav > header > div {
  display: flex;
  justify-content: end;
  align-items: end;
  width: 100%;
}

nav > header > div > button {
  width: fit-content;
}

nav > main {
  top: 0;
  left: 0;
  width: 100%;
  border-radius: $round;
  backdrop-filter: blur(1rem);
  -webkit-backdrop-filter: blur(1rem);
  background: var(--primaryContainer);
  box-shadow: var(--shadow);
  background-blend-mode: multiply, screen;
}

nav.active > main {
  transition: transform $animationCubic, opacity $animationCubic 0.15s;
  opacity: 100%;
}

nav.hidden > main {
  transition: transform $animationCubic, opacity $animationCubic;
  transform: translateY(-26rem);
}

nav > main > ul {
  display: flex;
  flex-direction: column;
  gap: $paddingSmall;
  padding: $paddingSmall;
}

nav > main > ul img {
  width: calc($width - $padding);
  height: calc($height - $padding);
  border-radius: $round;
}

nav div.hover {
  position: absolute;
  width: calc(100% - ($paddingSmall * 2));
  height: $height;
  border-radius: $round;
  transition: transform $animationCubic;
  background: var(--primaryContainer);
}

nav div.hover.home {
  transform: translateY(($height) + $paddingSmall);
}

nav div.hover.following {
  transform: translateY(($height * 2) + ($padding));
}

nav div.hover.newPost {
  transform: translateY(($height * 3) + ($paddingSmall * 3));
}

@media screen and (min-width: $widthContainer) {
  nav > header {
    animation: none;
  }

  nav.active > header {
    height: calc($height + ($paddingSmall * 2));
    transform: translateY(-5rem);
  }

  nav.hidden > header {
    height: calc($height + ($paddingSmall * 2));
    transform: translateY(-5rem);
  }

  nav.active > main {
    transition: transform $animationCubic, opacity 0s ease-in-out;
    transform: translateY(-26rem);
  }

  nav.hidden > main {
    transition: transform $animationCubic, opacity 0s ease-in-out;
    transform: translateY(-26rem);
  }
}

@media screen and (min-width: $widthContainerLarge) {
  nav {
    animation: none;
  }

  nav > header > h4 {
    display: flex;
  }
}
