@import "../base/variables.scss";

nav {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  width: 100%;
  z-index: 3;
  height: 0;
}

nav > header {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: start;
  align-items: center;
  width: calc(100%);
  gap: $gap;
  padding: $padding;
  min-height: calc($height + ($padding * 2));
  transition: transform $animationCubic, visibility $animationCubic;
  animation: $animationCubic comeFromTop;
  z-index: 1;
  border-bottom-left-radius: $round;
  border-bottom-right-radius: $round;
  background: var(--background);
}

nav > header > h5 {
  display: flex;
  justify-content: center;
  padding-top: $fontAdjust;
  height: $height;
  border-radius: $round;
  background: var(--background);
}

nav > header > div {
  display: flex;
  justify-content: end;
  align-items: end;
  width: 100%;
}

nav > header > div > button {
  width: fit-content;
}

nav > main {
  position: fixed;
  top: 0;
  left: 0;
  padding-top: calc($height + $padding + $fontAdjust);
  width: 100%;
  border-radius: $round;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  transition: transform $animationCubic, visibility $animationCubic;
  transform-origin: top;
  background: var(--background);
}

nav h5 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: $font;
}

nav > header > div {
  width: fit-content;
}

nav.hidden > main {
  visibility: hidden;
  transform: translateY(-29rem);
}

nav > main > ul {
  display: flex;
  flex-direction: column;
  gap: $padding;
  padding: $padding;
}

nav div.hover {
  position: absolute;
  width: calc(100% - ($padding * 2));
  height: $height;
  border-radius: $round;
  transition: transform $animationCubic;
  border: $outline;
}

nav div.hover.home {
  transform: translateY(($height) + $padding);
}

nav div.hover.followers {
  transform: translateY(($height * 2) + ($padding * 2));
}

nav img {
  object-fit: cover;
}

nav div.hover.new {
  border: none;
  transform: translateY(($height * 3) + ($padding * 3));
}

nav div.hover.post {
  border: none;
  transform: translateY(0);
}

@media screen and (min-width: $widthContainer) {
  nav > header {
    animation: none;
    visibility: hidden;
  }

  nav > div {
    animation: none;
    transform: translateY(-5rem);
  }

  nav > main {
    visibility: hidden;
    animation: none;
  }

  nav.active > header {
    transform: translateY(-5rem);
  }

  nav.hidden > header {
    transform: translateY(-5rem);
  }

  nav.active > main {
    transform: translateY(-29rem);
  }

  nav.hidden > main {
    transform: translateY(-29rem);
  }
}

@media screen and (min-width: $widthContainerLarge) {
  nav > header > h4 {
    display: flex;
  }
}
