@import "../base/variables.scss";

nav {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  width: 100%;
  z-index: 3;
  height: 0;
}

nav > header {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: start;
  align-items: center;
  width: 100%;
  gap: $gap;
  min-height: calc($height + ($padding * 2));
  padding: $padding;
  border-radius: $round;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  background: var(--container);
  transition: transform $animationCubic;
  animation: $animationCubic comeFromTop;
  z-index: 1;
}

nav > header > h5 {
  padding-top: 0.35rem;
}

nav > header > img {
  width: calc($width);
  height: calc($height);
  padding: calc($padding / 1.75);
  border-radius: $round;
}

nav > header > div {
  display: flex;
  justify-content: end;
  align-items: end;
  width: 100%;
}

nav > header > div > button {
  width: fit-content;
}

nav > main {
  position: fixed;
  top: 0;
  left: 0;
  padding-top: calc($padding * 3.8);
  width: 100%;
  border-radius: $round;
  transition: transform $animationCubic;
  transform-origin: top;
  background: var(--container);
}

nav h5 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: $font;
}

nav > header > div {
  width: fit-content;
}

nav.hidden > main {
  transform: translateY(-26rem);
}

nav > main > ul {
  display: flex;
  flex-direction: column;
  gap: $padding;
  padding: $padding;
}

nav > main > ul img {
  width: calc($width);
  height: calc($height);
  padding: calc($paddingSmall);
  border-radius: $round;
}

nav div.hover {
  position: absolute;
  width: calc(100% - ($padding * 2));
  height: $height;
  border-radius: $round;
  transition: transform $animationCubic;
  background: var(--container);
}

nav div.hover.home {
  transform: translateY(($height) + $padding);
}

nav div.hover.following {
  transform: translateY(($height * 2) + ($padding * 2));
}

nav div.hover.newPost {
  transform: translateY(($height * 3) + ($padding * 3));
}

@media screen and (min-width: $widthContainer) {
  nav > header {
    animation: none;
  }

  nav > main {
    animation: none;
  }

  nav.active > header {
    transform: translateY(-5rem);
  }

  nav.hidden > header {
    transform: translateY(-5rem);
  }

  nav.active > main {
    transform: translateY(-26rem);
  }

  nav.hidden > main {
    transform: translateY(-26rem);
  }
}

@media screen and (min-width: $widthContainerLarge) {
  nav > header > h4 {
    display: flex;
  }
}
