@import "../base/variables.scss";

a {
  display: flex;
  justify-content: start;
  align-items: center;
  color: var(--colorPrimary);
  text-decoration: none;
  border-radius: $round;
  font-size: $fontSmall;
  white-space: nowrap;
  z-index: 1;
}

a.fixed {
  position: fixed;
  width: fit-content;
  bottom: $padding;
  right: $padding;
  animation: $animationCubic emerge;
  background: var(--primary);
  color: white !important;
  z-index: 2;
}

@media screen and (min-width: $widthContainer) {
  a.fixed {
    display: none !important;
  }
}

a.button {
  display: flex;
  justify-content: start;
  align-items: center;
  min-width: $width;
  gap: $gap;
  padding: $paddingSmall;
  height: $height;
  font-size: $font;
  color: var(--color);
}

a > p {
  display: none;
}

@media screen and (min-width: $widthContainerLarge) {
  a > p {
    display: flex;
  }
}
