@import "../base/variables.scss";

a {
  display: flex;
  justify-content: start;
  align-items: center;
  color: var(--primary);
  text-decoration: none;
  border-radius: $round;
  font-size: $fontSmall;
  white-space: nowrap;
  z-index: 1;
}

a.fixed {
  position: fixed;
  display: flex;
  width: fit-content;
  right: $padding;
  bottom: $padding;
  animation: $animationCubic emerge;
  z-index: 2;
}

@media screen and (min-width: $widthContainer) {
  a.fixed {
    display: none !important;
  }
}

a.button {
  display: flex;
  justify-content: start;
  align-items: center;
  min-width: $width;
  gap: $gapSmall;
  height: $height;
  font-size: $font;
  color: var(--color);
}

a.small {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: calc($padding * 2.35);
  max-width: calc($padding * 2.35);
  overflow: visible;
  min-height: calc($height - $paddingSmall);
  max-height: calc($height - $paddingSmall);
  background: transparent;
}

a.small > p {
  padding-right: calc($fontAdjust / 2);
  display: flex;
}

a.small > svg {
  padding: 0;
  overflow: visible;
  min-width: calc($padding * 1.35);
  min-height: calc($padding * 1.35);
}

a > p {
  display: none;
}

a > div {
  padding-top: $fontAdjust;
}

@media screen and (min-width: $widthContainerLarge) {
  a > p {
    display: flex;
  }
}
