@import "../base/variables.scss";

a {
  display: flex;
  justify-content: start;
  align-items: center;
  color: var(--primary);
  text-decoration: none;
  border-radius: $round;
  font-size: $fontSmall;
  white-space: nowrap;
  z-index: 1;
}

a.fixed {
  position: fixed;
  display: flex;
  bottom: $padding;
  right: $padding;
  width: calc($width + ($paddingSmall * 2));
  min-height: calc($height + ($paddingSmall * 2));
  animation: $animationCubic emerge;
  background: var(--primary);
  color: white !important;
  z-index: 2;
}

a.fixed > svg {
  width: calc($width + ($paddingSmall * 2));
  min-height: calc($height + ($paddingSmall * 2));
  padding: calc($padding * 1.1);
}

@media screen and (min-width: $widthContainer) {
  a.fixed {
    display: none !important;
  }
}

a.button {
  display: flex;
  justify-content: start;
  align-items: center;
  min-width: $width;
  gap: $gapSmall;
  height: $height;
  font-size: $font;
  color: var(--color);
}

a > p {
  display: none;
}

a > div {
  padding-top: $fontAdjust;
}

@media screen and (min-width: $widthContainerLarge) {
  a > p {
    display: flex;
  }
}
