@import "../base/variables.scss";

.post {
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: $round;
  transform-origin: top;
  overflow: hidden;
  background: var(--container);
}

.post > a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100% - $height - ($paddingSmall * 2));
  box-shadow: none;
  outline: none;
}

.post > header {
  display: flex;
  align-items: center;
  padding: calc($padding * 1.25);
  gap: $gap;
}

.post > header > div {
  display: flex;
  flex-direction: column;
}

.post > header > div:last-of-type {
  overflow: hidden;
}

.post > header > div > p {
  opacity: $opacity;
}

.post > header > div > img {
  border-radius: $round;
  width: $width - $paddingSmall;
  height: $height - $paddingSmall;
}

.post > main {
  display: flex;
  flex-direction: column;
}

.post > main > div {
  display: flex;
  flex-direction: column;
  height: fit-content;
  word-break: break-all;
  min-height: calc($height * 2);
}

.post > main > div > div {
  padding: calc($padding * 1.25);
  padding-top: 0;
  padding-bottom: 0;
  flex: 1;
}

.post > main > div > img {
  width: 100%;
  height: fit-content;
  object-fit: contain;
  margin-bottom: calc($padding * 1.25);
  border-radius: $round;
}

.post > footer {
  display: flex;
  flex-wrap: wrap;
  padding: calc($padding * 1.25);
  gap: $gap;
}

.post > footer > .reply {
  flex: 1;
  display: flex;
  justify-content: start;
}

.post > form {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: $gap;
  padding: $padding;
  padding-top: 0;
}

.post > form textarea {
  margin-top: 0;
  padding: calc($padding * 1.25);
  background: var(--background);
}

.post > form > button {
  width: fit-content;
  padding: $padding;
}
