@import "../base/variables.scss";

.post {
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: $round;
  transform-origin: top;
  border-radius: $round;
  background: var(--container);
}

.post > a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100% - $height - ($paddingSmall * 2));
  box-shadow: none;
  outline: none;
}

.post > header {
  display: flex;
  align-items: center;
  gap: $gap;
  padding: $padding;
}

.post > header > div {
  display: flex;
  flex-direction: column;
}

.post > header > a {
  position: relative;
}

.post > header > a > div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.post > header > div:last-of-type {
  padding-top: $fontAdjust;
  overflow: hidden;
}

.post > header > div > p {
  opacity: $opacity;
}

.post > header > a > img {
  object-fit: cover;
}

.post > main {
  display: flex;
  flex-direction: column;
}

.post > main > div {
  display: flex;
  flex-direction: column;
  height: fit-content;
  overflow: hidden;
  min-height: calc($height * 2);
}

.post > main > div > div {
  padding: $padding;
  padding-top: 0;
  flex: 1;
  line-height: 145%;
}

.post > main > div > img {
  width: 100%;
  height: fit-content;
  object-fit: contain;
  border-radius: $round;
  margin-bottom: $padding;
  padding: 0;
}

.post > footer {
  display: flex;
  flex-wrap: wrap;
  gap: $gap;
  padding: $padding;
  padding-top: 0;
}

.post > footer > .reply {
  flex: 1;
  display: flex;
  justify-content: start;
}

.post > footer > .reply svg {
  padding: calc($fontAdjust / 1.5);
}

.post > form {
  display: flex;
  flex-direction: column;
  align-items: end;
  padding: $padding;
  padding-top: 0;
  gap: $gap;
}

.post > form textarea {
  margin-top: 0;
  padding: calc($padding * 1.25);
  background: var(--background);
}

.post > form > button {
  width: fit-content;
  padding: $padding;
}
