@import "../base/variables.scss";

.side {
  position: fixed;
  display: flex;
  justify-content: space-between;
  width: 100%;
  top: 0;
  max-width: calc($widthContainerExtraLargeTwo);
  min-height: calc(100% - ($padding * 2));
  z-index: 1;
}

.side > div.users {
  display: none;
  position: sticky;
  overflow: scroll;
  right: 0;
  padding-top: $fontAdjust;
  width: calc($width + $padding);
  min-height: calc(100% - ($padding * 2));
  transform-origin: top right;
  transition: width $animationCubic;
  animation: $animationCubic comeFromRight;
}

.side > div.users > main {
  position: absolute;
  display: flex;
  flex-direction: column;
  padding: $padding;
  padding-left: 0;
  padding-top: 0;
  gap: $gap;
  width: 100%;
  min-height: 100%;
}

.side > div.menu {
  position: sticky;
  display: none;
  left: 0;
  width: calc($width + $padding);
  min-height: calc(100% - ($padding * 2));
  overflow: scroll;
  transform-origin: top;
  transition: width $animationCubic;
  animation: $animationCubic comeFromLeft;
  z-index: 3;
}

.side > div.menu > ul {
  width: 100%;
  min-height: 100%;
  padding: $padding;
  padding-right: $fontAdjust;
  padding-bottom: 0;
  padding-top: 0;
  position: absolute;
  padding-top: $fontAdjust;
  display: flex;
  flex-direction: column;
  gap: $padding;
}

.side > div.menu > ul a > div,
.side > div.menu > ul button > div {
  display: none;
}

.side img {
  object-fit: cover;
}

.side div.hover {
  position: absolute;
  width: calc(100% - ($padding));
  height: $height;
  border-radius: $round;
  transform-origin: center;
  transition: transform $animationCubic;
  transform: translateY(($height) + ($padding));
  background: var(--container);
}

.side div.hover.home {
  transform: translateY(($height * 2) + ($padding * 2));
}

.side div.hover.followers {
  transform: translateY(($height * 3) + ($padding * 3));
}

.side div.hover.new {
  border: none;
  transform: translateY(($height * 4) + ($padding * 4));
}

.side div.hover.post {
  border: none;
  transform: translateY(0);
}

@media screen and (min-width: $widthContainer) {
  .side {
    top: $padding;
  }

  .side > div.menu {
    display: flex;
  }
}

@media screen and (min-width: calc($widthContainerMedium)) {
  .side > div.menu {
    width: calc($widthContainerSmall);
  }

  .side > div.menu > ul a > div,
  .side > div.menu > ul button > div {
    display: block;
  }
}

@media screen and (min-width: calc($widthContainerLarge)) {
  .side > div.users {
    display: flex;
  }
}

@media screen and (min-width: calc($widthContainerExtraLarge)) {
  .side > div.users {
    width: calc($widthContainerSmall);
  }

  .side > div.users > main {
    padding: 0;
    gap: 0;
  }
}
