@import "../base/variables.scss";

.side {
  position: fixed;
  display: flex;
  width: 100%;
  top: 0;
  max-width: calc($widthContainerExtraLargeTwo);
  min-height: calc(100% - ($paddingLarge));
  overflow: scroll;
  z-index: 1;
}

.side > div {
  display: flex;
  width: 100%;
  min-height: 100%;
  transition: width $animationCubic;
  border-radius: $round;
  background: var(--container);
}

.side > div > ul {
  display: flex;
  flex-direction: column;
  gap: $padding;
  min-height: 100%;
  width: 100%;
}

.side > div > ul img {
  width: calc($width - $padding);
  height: calc($height - $padding);
  border-radius: $round;
}

.side.left {
  display: none;
  transform-origin: top;
  animation: $animationCubic comeFromLeft;
  z-index: 2;
}

.side.left > div {
  position: absolute;
  left: $padding;
  padding: $padding;
  width: calc($width + ($padding * 2));
}

.side.left > div > ul a > div,
.side.left > div > ul button > div {
  display: none;
}

.side.right {
  width: 100%;
  display: none;
  transform-origin: top;
  animation: $animationCubic comeFromRight;
}

.side.right > div {
  position: absolute;
  display: flex;
  justify-content: center;
  right: $padding;
  width: calc($width + ($padding * 2));
  background: var(--primary);
}

.side.right > div > ul a > div,
.side.right > div > ul button > div {
  display: none;
}

.side div.hover {
  position: absolute;
  width: calc(100% - ($padding * 2));
  height: $height;
  border-radius: $round;
  transition: transform $animationCubic;
  background: var(--background);
}

.side div.hover.home {
  transform: translateY(($height) + ($padding));
}

.side div.hover.following {
  transform: translateY(($height * 2) + ($padding * 2));
}

.side div.hover.newPost {
  transform: translateY(($height * 3) + ($padding * 3));
}

@media screen and (min-width: $widthContainer) {
  .side {
    top: $padding;
  }

  .side.left {
    display: flex;
  }
}

@media screen and (min-width: calc($widthContainerMedium)) {
  .side.right {
    display: flex;
  }
}

@media screen and (min-width: calc($widthContainerLarge)) {
  .side.left > div {
    width: calc($widthContainerSmall);
  }

  .side.left > div > ul a > div,
  .side.left > div > ul button > div {
    display: block;
  }
}

@media screen and (min-width: calc($widthContainerExtraLarge)) {
  .side.right > div {
    width: calc($widthContainerSmall);
  }

  .side.right > div > ul a > div,
  .side.right > div > ul button > div {
    display: block;
  }
}
