@import "../base/variables.scss";

#theme {
  flex: 1;
  display: flex;
  justify-content: center;
  align-self: end;
  align-items: end;
}

#theme > div {
  display: flex;
  justify-content: center;
  width: calc($width * 2);
  height: fit-content;
  border-radius: $round;
  background: var(--primaryContainer);
  background-blend-mode: multiply, screen;
}

#theme > div > button.dark {
  transform: translateX(-50%);
}

#theme > div > button.light {
  transform: translateX(50%);
}

#theme > div > button {
  transition: transform $animationCubic;
  width: fit-content;
}

.side #theme > div {
  flex-direction: column;
  width: fit-content;
  height: calc($width * 2);
}

.side #theme > div > button.dark {
  transform: translateY(-50%);
}

.side #theme > div > button.light {
  transform: translateY(50%);
}

@media screen and (min-width: $widthContainerLarge) {
  .side #theme > div {
    width: calc($width * 2);
    height: fit-content;
    flex-direction: row;
  }

  .side #theme > div > button.dark {
    transform: translateX(-50%);
  }

  .side #theme > div > button.light {
    transform: translateX(50%);
  }
}
