@import "../base/variables.scss";

#theme {
  flex: 1;
  display: flex;
  justify-content: center;
  align-self: end;
  align-items: end;
}

#theme > div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc($width * 2);
  height: $height;
  border-radius: $round;
  background: var(--container);
}

#theme > div > button.dark {
  transform: translateX(-50%);
}

#theme > div > button.light {
  transform: translateX(50%);
}

#theme > div > button {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  transition: transform $animationCubic;
  width: fit-content;
}

nav #theme > div {
  background: var(--container);
}

.side #theme > div {
  flex-direction: column;
  width: calc($width);
  height: calc($width * 2);
  background: var(--background);
}

.side #theme > div > button.dark {
  transform: translateY(-50%);
}

.side #theme > div > button.light {
  transform: translateY(50%);
}

@media screen and (min-width: $widthContainerMedium) {
  .side #theme > div {
    width: calc($width * 2);
    height: $height;
    flex-direction: row;
  }

  .side #theme > div > button.dark {
    transform: translateX(-50%);
  }

  .side #theme > div > button.light {
    transform: translateX(50%);
  }
}
