@import "../base/variables.scss";

.user {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  align-items: start;
  transform-origin: top;
  min-height: fit-content;
  height: fit-content;
  max-height: fit-content;
  margin: 0;
  gap: $gap;
  padding-bottom: $padding;
  border-bottom: $outline;
}

.user.sideComp {
  border: 0;
  padding: 0;
  background: transparent !important;
}

.user.sideComp > a {
  min-height: $height;
  max-height: $height;
}

.user.sideComp > main {
  display: none;
}

.user.sideComp > header > div:last-of-type {
  display: none;
}

@media screen and (min-width: $widthContainerExtraLarge) {
  .user.sideComp {
    background: var(--container);
    padding: $padding;
    padding-bottom: 0;
  }

  .user.sideComp:first-of-type {
    padding-top: 0;
  }

  .user.sideComp > a {
    min-height: calc($height + $padding);
    max-height: calc($height + $padding);
  }

  .user.sideComp > header > div:last-of-type {
    display: flex;
  }
}

.user > a {
  left: 0;
  top: 0;
  width: 100%;
  min-height: calc($height + ($padding * 1.5));
  position: absolute;
  box-shadow: none;
  outline: none;
}

.user > header {
  display: flex;
  align-items: center;
  gap: $gap;
  width: 100%;
}

.user > header > div {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.user > header > div:last-of-type {
  overflow: hidden;
}

.user > header > div:last-of-type > p {
  text-wrap: nowrap;
  word-break: keep-all;
}

.user > header > div > p {
  opacity: $opacity;
}

.user > header img {
  object-fit: cover;
}

.user > header svg {
  object-fit: cover;
  padding: calc($padding / 5);
}

.user > main {
  display: flex;
  flex-wrap: wrap;
  align-items: end;
  justify-content: end;
  gap: $gap;
  flex: 1;
}
