@import "../base/variables.scss";

.user {
  position: relative;
  display: flex;
  justify-content: start;
  align-items: start;
  border-radius: $round;
  transform-origin: top;
  min-height: fit-content;
  height: fit-content;
  max-height: fit-content;
  padding: $padding;
  margin: 0;
  border-radius: $round;
  background: var(--container);
}

.user > a {
  left: 0;
  top: 0;
  width: calc(100% - $height - ($padding * 3));
  min-height: calc($height + ($padding * 2));
  position: absolute;
}

.user > header {
  display: flex;
  align-items: center;
  gap: $gap;
  width: 100%;
}

.user > header > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.user > header > div:last-of-type {
  padding-top: $fontAdjust;
  overflow: hidden;
}

.user > header > div > p {
  opacity: $opacity;
}

.user > header > a > img {
  object-fit: cover;
}

.user > main {
  display: flex;
  flex-direction: column;
}

.user > footer {
  display: flex;
  flex-wrap: wrap;
  gap: $gap;
  padding-top: 0;
}
