@import "../base/variables.scss";

#popup {
  width: 100%;
  max-width: $widthContainerExtraLargeTwo;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: end;
  height: fit-content;
  gap: $gap;
  top: 0;
  right: 50%;
  transform-origin: center;
  border-radius: $round;
  transform: translateX(50%);
  transition: height $animationCubic;
  pointer-events: none;
  touch-action: none;
  padding: $padding;
  z-index: 4;
  backdrop-filter: blur(1rem);
  -webkit-backdrop-filter: blur(1rem);
}

#popup > div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc($height + ($paddingSmall * 2));
  padding: $paddingSmall;
  max-width: $widthContainerForm;
  border-radius: $round;
  background: var(--primary);
  background-blend-mode: multiply, screen;
  pointer-events: all;
  touch-action: auto;
  transform-origin: right;
  color: white;
  animation: $animationCubic comeFromTopScale;
}

#popup > div > main {
  display: flex;
  flex-direction: column;
  gap: $gapSmall;
  padding-top: $fontAdjust;
  flex: 1;
}

#popup > div > button {
  width: fit-content;
  color: white;
}
