@import "../base/variables.scss";

#popup {
  width: 100%;
  max-width: $widthContainerExtraLargeTwo;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: end;
  gap: $gap;
  bottom: 0;
  right: 50%;
  transform: translateX(50%);
  pointer-events: none;
  touch-action: none;
  padding: $padding;
  transition: top $animationCubic;
  z-index: 4;
}

#popup > div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc($height + ($paddingSmall * 2));
  gap: $gapSmall;
  padding: $paddingSmall;
  max-width: $widthContainerForm;
  border-radius: $round;
  background: var(--primary);
  background-blend-mode: multiply, screen;
  pointer-events: all;
  touch-action: auto;
  transform-origin: right;
  color: white;
  animation: $animationCubic comeFromBottom;
}

#popup > div > main {
  display: flex;
  flex-direction: column;
  gap: $gapSmall;
  flex: 1;
}

#popup > div > button {
  width: fit-content;
  color: white;
}

#popup > div > svg {
  width: $width;
  height: $height;
  padding: $paddingSmall;
}
