@import "/node_modules/modern-normalize/modern-normalize.css";
@import "./base/variables.scss";
@import "./base/animation.scss";
@import "./components/Input.component.style.scss";
@import "./components/Button.component.style.scss";
@import "./components/Form.component.style.scss";
@import "./components/Link.component.scss";
@import "./components/Error.component.style.scss";
@import "./pages/Auth.component.scss";

* {
  margin: 0;
  padding: 0;
  color: var(--color);
  font-weight: 600;
  border-style: none;
}

::-webkit-scrollbar {
  display: none;
}

*:focus {
  box-shadow: $outlineFocus;
  outline: $outline;
}

::placeholder {
  color: var(--color);
  opacity: 50%;
}

html,
body {
  height: 100%;
  background: var(--backgroundBody);
}

#root {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: $padding;
  gap: $gap;
  background: var(--background);
  background-blend-mode: var(--backgroundBlendMode);
}

img {
  width: $width + $padding;
  height: $height + $padding;
}
