@import "/node_modules/modern-normalize/modern-normalize.css";
@import "./base/variables.scss";
@import "./base/animation.scss";
@import "./pages/Auth.page.scss";
@import "./pages/Main.page.scss";
@import "./pages/Error.page.scss";
@import "./components/Loading.style.scss";
@import "./components/Input.component.style.scss";
@import "./components/Button.component.style.scss";
@import "./components/Form.component.style.scss";
@import "./components/Navigation.component.scss";
@import "./components/Error.component.style.scss";
@import "./components/Nav.component.scss";
@import "./components/Side.component.scss";
@import "./components/Post.component.style.scss";
@import "./components/Theme.component.style.scss";
@import "./utilities/Popup.style.scss";

* {
  margin: 0;
  padding: 0;
  border-style: none;
  resize: none;
  font-family: "Comfortaa Variable";
  line-height: 100%;
  font-weight: bold;
  font-size: $font;
}

::-webkit-scrollbar {
  display: none;
}

*:focus {
  box-shadow: $outlineFocus;
  outline: $outline;
}

::placeholder {
  color: var(--color);
  opacity: 50%;
}

html,
body {
  height: 100%;
  background: var(--container);
}

#root {
  min-height: 100%;
  display: flex;
  justify-content: center;
  padding: $padding;
  gap: $gap;
  color: var(--color);
  background: var(--background);
}

h1,
h2 {
  font-size: $fontLarge;
}

p {
  font-size: $fontSmall;
}

img {
  width: $width;
  height: $height;
}

svg {
  min-width: calc($width);
  min-height: calc($height);
  padding: calc($padding / 1.5);
  border-radius: $round;
}

.boxElement {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: $width;
  min-height: $height;
  max-width: $width;
  max-height: $height;
  outline: $outline;
  border-radius: $roundExtra;
}

.blank {
  width: 100%;
  height: 100%;
  border-radius: $round;
  backdrop-filter: blur(1rem);
  -webkit-backdrop-filter: blur(1rem);
  background: var(--container);
}
