@import "/node_modules/modern-normalize/modern-normalize.css";
@import "./base/variables.scss";
@import "./base/animation.scss";
@import "./pages/Auth.page.scss";
@import "./pages/Main.page.scss";
@import "./pages/Error.page.scss";
@import "./components/Loading.style.scss";
@import "./components/Input.component.style.scss";
@import "./components/Button.component.style.scss";
@import "./components/Form.component.style.scss";
@import "./components/Navigation.component.scss";
@import "./components/Error.component.style.scss";
@import "./components/Nav.component.scss";
@import "./components/Side.component.scss";
@import "./components/Post.component.style.scss";
@import "./components/Theme.component.style.scss";
@import "./utilities/Popup.style.scss";

* {
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 600;
  border-style: none;
  resize: none;
}

::-webkit-scrollbar {
  display: none;
}

*:focus {
  box-shadow: $outlineFocus;
  outline: $outline;
}

::placeholder {
  color: var(--color);
  opacity: 50%;
}

html,
body {
  height: 100%;
  background: var(--backgroundBody);
}

#root {
  min-height: 100%;
  display: flex;
  justify-content: center;
  padding: $padding;
  gap: $gap;
  color: var(--color);
  background: var(--background);
  background-blend-mode: var(--backgroundBlendMode);
}

p {
  font-size: $fontSmall;
}

img {
  width: $width;
  height: $height;
}

svg {
  min-width: calc($width - $padding);
  min-height: calc($height - $padding);
  padding: calc($paddingSmall / 3);
}

.boxElement {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: $width;
  min-height: $height;
  max-width: $width;
  max-height: $height;
  outline: $outline;
  border-radius: $roundExtra;
}
